@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif; 
	box-sizing: border-box;
}

body {
    background-color: #E6E9F0;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.container {
    height: 480px;
    width: 280px;
    box-shadow: 10px 10px 15px rgb(192, 183, 183), -10px -10px 15px white;
    border-radius: 20px;
    align-items: center;
    text-align: center;
}

.container .heading{
	padding: 70px 0 45px 0;
	color: #90D86A;
	font-size: 1.3em;
	font-weight: bolder;
	text-transform: uppercase;

}

.container .user{
	padding: 7px 0;
}

.container .user input{
	padding: 15px 20px;
	border-radius: 20px;
	border-style: none;
	outline: none;
	font-size: 0.9em;
	background:  #B7F199;
	color: white;
}

.container .user input:hover{
	box-shadow: 5px 5px 8px rgb(185, 184, 184), -5px -5px 10px white;
	transform: scale(1.1);
	transition: 0.3s ease all;
}

.container .user input::placeholder{
	color: white;
}

.container .button{
	padding: 15px 0;
}

.container .button input{
	border-style: none;
	outline: none;
	color: white;
	background: #90D86A;
	padding: 7px 15px;
	font-size: 1em;
	font-weight: bolder;
	border-radius: 20px;
	box-shadow: 5px 5px 8px rgb(185, 184, 184), -5px -5px 10px white;
	cursor: pointer;
}

.container .help{
	font-size: 0.7em;
	margin-top: 20px;
	color: grey;
	cursor: pointer;
}

.container .help span{
	font-weight: bold;
	color: #222;
}

.container .social{
	margin-top: 25px;
}

.container .social .items{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.container .social .items li{
	list-style: none;
	padding: 0 7px;
}

.container .social .items li h3{
	color: grey;
	box-shadow: 5px 5px 8px rgb(185, 184, 184), -5px -5px 10px white;
	padding: 5px 15px;
	border-radius: 40%;
}

.container .social .items li h3:hover{
	color: white;
	background:#90D86A;
	cursor: pointer;
}
